.mata-friendly, .mata-friendly * {
  background-color: #031f30 !important;
  color: #d3d4d4 !important;
  border: 1px #d3d4d4 !important;
}

.mata-friendly, .mata-friendly button {
  background-color: #10537c !important;
}

.mata-friendly, .mata-friendly a {
  color: #9cd4f7 !important;
}
/* .mata-friendly, .mata-friendly img {
  opacity: 0.7 !important;
} */
